@media (min-width: 768px) {
    .data-view {
        border: 2px solid rgb(218, 217, 217);
        border-radius: 3px;
        margin: 2rem 1rem;
    }
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.list-produto-imagem {
    position: relative;
    width: 9em;
    height: 8em;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 1em 0.5em;
}

.list-produto-nome {
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 700;
}

.list-produto-marca {
    color: rgb(104, 104, 104);
}

.list-produto-tag-nome-setor {
    margin-top: 25px;
    max-width: fit-content;
    padding: 2px 6px;
    background-color: black;
    border-radius: 3px;
    color: rgb(214, 214, 214);
}

.list-produto-nome-setor {
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
}

.produto-grid-item {
    margin: 1em;
    border: 1px solid #dee2e6;
}

.produto-grid-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produto-tag-nome-setor {
    max-width: fit-content;
    padding: 2px 6px;
    background-color: black;
    border-radius: 3px;
    color: rgb(214, 214, 214);
}

.produto-nome-setor {
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
}

.produto-status {
    word-break: normal;
    padding: 0 8px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
}

.status-produto {
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.status-em-estoque {
    border: 1px solid rgb(110, 248, 98);
    background-color: rgba(97, 240, 118, 0.801);
    color: rgb(13, 75, 13);  
}

.status-estoque-baixo {
    border: 1px solid rgb(255, 239, 97);
    background-color: rgba(252, 232, 54, 0.801);
    color: rgb(141, 63, 12);  
}

.status-esgotado {
    border: 1px solid rgb(255, 105, 105);
    background-color: rgba(248, 45, 45, 0.801);
    color: rgb(97, 5, 5);  
}

.produto-grid-item-conteudo {
    text-align: center;
}

.grid-produto-imagem {
    position: relative;
    width: 11em;
    height: 10em;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.produto-nome {
    margin-top: -20px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.produto-marca {
  text-align: center;
  color: rgb(104, 104, 104);
}

.produto-grid-item-footer {
    border-top: 1px solid rgb(206, 206, 206);
    margin: 10px 5%;
    margin-bottom: -20px;
}

.produto-preco {
    font-size: 20px;
    font-weight: 400;
}

.produto-preco-sem-desconto {
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
    color: rgb(255, 36, 36);
}

.produto-preco-com-desconto {
    font-size: 18px;
    font-weight: 500;
}

.produto-grid-item-footer-buttons {
    margin-top: 6px;
}

@media (min-width: 575px) AND (max-width: 630px) {
    .produto-grid-item-footer-buttons {
        margin-top: 6px;
        white-space: pre;
    }
}

.dialog-content {
    margin-bottom: -30px;
}

.pi-search {
    margin-left: 20px;
}

@media (max-width: 767px) {
    .input-search {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.badge-produto-promocao {
    position: absolute;
    display: inline-block;
    z-index: 10;
    top: 25px;
    left: 210px;
}