<!-- DataView de Produto -->
<p-dataView [value]="produtos" [paginator]="true" [rows]="9" layout="grid">
    <ng-template pTemplate="header">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </ng-template>

    <ng-template let-produto pTemplate="listItem">
        <div class="row">
            <div class="col-6">
                <i class="fas fa-tag"></i>
                {{ produto.setor.nome }}
            </div>
            
            <div class="col-6">
                <span>{{ produto.statusProduto }}</span>
            </div>
        </div>
    </ng-template>

    <ng-template let-produto pTemplate="gridItem">
        <div class="col-12 col-md-4 d-inline-block">
            <div class="produto-grid-item card">
                <div class="produto-grid-item-top"> 
                    <span>
                        <i class="fas fa-tag"></i>
                        {{ produto.setor.nome }}
                    </span>
                
                    <span class="produto-grid-status status-em-estoque">{{ produto.statusProduto }}</span>
                </div>

                <div class="produto-grid-item-conteudo">
                    <img [src]="produto.imagem || 'assets/prod.jpg'">
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>